body
 {
  margin: 0;
  padding: 0;
}

 fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

.signupbutton {
  outline: none;
  background: none;
  border: none;
}

body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#E73D89));
  background: -webkit-linear-gradient(to top, #ffffff 120%, #E73D89 100%);
  background: -moz-linear-gradient(to top, #ffffff 20%, #E73D89 100%);
  background: -o-linear-gradient(to top, #ffffff 20%, #E73D89 100%);
  background: linear-gradient(to top, #ffffff 20%, #E73D89 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.signup .wrapper {
  margin: 0 auto;
}

.signup .wrapper--w960 {
  max-width: 960px;
}

.signup .wrapper--w780 {
  max-width: 780px;
}

.signup .wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.signup .btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
}

.signup .btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.signup .btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.signup .btn--green {
  background:#E73D89;
}

.signup .btn--green:hover {
  background: #a29f9f;
}



/* ==========================================================================
   #FORM
   ========================================================================== */
.signupform input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
}

.signupform .input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.signupform .input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.2);
}

.signupform .input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.signupform .input--style-3::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

.signupform.input--style-3:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

.signupform.input--style-3::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

.signupform .input--style-3:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.signupform .input--style-3:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}



/* ==========================================================================
   #TITLE
   ========================================================================== */
.signup .title {
  font-size: 24px;
  color: #8a8a8a;
  font-weight: 400;
  margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.signup .card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.signup .card-3 {
  background: #f5f5f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}

.signup .card-3 .card-heading {
  background: url("../img/signupimg.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.signup .card-3 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .signup .card-3 {
    display: block;
  }
  .signup .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .signup .card-3 .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
